div {
    color: darkred;
}
.container {
    width : 1200px;
    min-height: 100%;
    margin: 0 auto;
    border:2px solid black;
}
.header {
    width: 100%;
    height: 200px;
    border: 4px solid blueviolet;
    display: flex;
    flex-wrap: nowrap;
}
.logo {
    width: 30%;
    height: 100%;
    border: 3px solid plum;
}
.serch{
    width: 30%;
    height: 100%;    
    border: 3px solid tan;
}
.phone{
    width: 30%;
    height: 100%;    
    border: 3px solid rebeccapurple;
}